__pycache__
build
dist
*.spec
*.pyc
*.exe
files
jre
game
logs
.gitignore
RiseCraft
*.bin
*.build
*-crash-report.xml
fake-local
data
*.dist
*.zip
full-version.json
*.run
# baidu net disk
*.uploading.cfg 