*{
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: zPixel;
  src: url(https://zpix.vercel.app/zpix.woff2);
}
html,body,#root{
  height: 100%;
  width: 100%;
  font-family: zPixel,'Courier New', Courier, monospace !important;
}
html{
  background-color: gray;
}
