.content{
    // background-color:;
    font-family: 'Courier New', Courier, monospace;
    h1{
        font-size: 80px;
 
        letter-spacing: 10px;
    }
    .pad{
        padding: 10px;
        width: 150px;
    }
}