.status{
    height: 130px;
    overflow-y: scroll;
    background-color: whitesmoke;
    color: black;
    // border-radius: 16px;
    // padding-top: 16px;
    padding: 10px;
    margin-top: 32px;
}